<section class="slider_section s_section_two">
  <swiper-container
    #swiperEl
    loop="true"
    slides-per-view="1"
    autoplay-delay="3000"
    effect="fade"
    fade-effect-cross-fade="true"
    pagination="true"
    init="false"
  >
    <ng-container *ngFor="let slide of data">
      <swiper-slide>
        <div class="single_slider d-flex align-items-center"
             [style.background-image]="'url(' + slide.cover + ')'"
             style="background-size: cover; height: 560px;">
          <div class="container">
            <div class="slider_content" [style.textAlign]="slide.position">
              <h1 [style.color]="slide.text_color"
                  [style.font-weight]="slide.text_weight">
                {{ slide.designation_fr }}
              </h1>
              <p [style.color]="slide.text_color"
                 [style.font-weight]="slide.text_weight">
                {{ slide.description_fr }}
              </p>
              <a *ngIf="slide.btn_text_fr"
                 class="button"
                 target="_blank"
                 [href]="slide.btn_link">
                {{ slide.btn_text_fr }}
                <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</section>
