<section class="slider_section s_section_two">
  <swiper-container
    #swiperEl
    loop="true"
    slides-per-view="1"
    autoplay-delay="3000"
    [effect]="screenwidth > 700 ? 'fade' : 'slide'"
    fade-effect-cross-fade="true"
    pagination="true"
    lazy="true"
    init="false"
  >
    <ng-container *ngFor="let slide of data">
      <swiper-slide>
        <!-- Lazy-loaded image for better performance -->
        <div class="single_slider d-flex align-items-center" style="height: 760px; position: relative;">
          <img class="swiper-lazy" loading="lazy" lazy [src]="slide.cover" [alt]="slide.designation_fr" style="width:100%; height:100%; object-fit: cover;">
          <div class="swiper-lazy-preloader"></div>
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</section>
